<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <title>Web Scraper</title>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav
      class="navbar navbar-expand-md navbar-light fixed-top py-4"
      id="main-nav"
    >
      <div class="container">
        <a href="index.html" class="navbar-brand" th:href="@{/}">
          <h3 class="d-inline align-middle">Alexa TMDB Web Scraper</h3>
        </a>
        <button
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="alexa.html" class="nav-link" th:href="@{/alexa}">Alexa</a>
            </li>
            <li class="nav-item">
              <a href="tmdb.html" class="nav-link" th:href="@{/tmdb}">TMDB</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- SHOWCASE -->
    <section class="py-5" id="showcase">
      <div class="primary-overlay text-white">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 text-center">
              <h1 class="display-2 mt-5 pt-5">
                Web Scraping Was Never So Easy...
              </h1>
              <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
                at.
              </p>
              <a href="#" class="btn btn-outline-secondary btn-lg text-white">
                <i class="fas fa-arrow-right"></i>
                Read More
              </a>
            </div>
            <div class="col-lg-6">
              <img
                src="../static/img/book.png"
                alt=""
                class="img-fluid d-none d-lg-block"
                th:src="@{/img/book.png}"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer class="py-5 bg-primary text-white">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-6 ml-auto">
            <p class="lead">Copyright &copy; <span id="year"></span></p>
          </div>
        </div>
      </div>
    </footer>

    <script
      src="http://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>

    <script>
      // Get the current year for the copyright
      $("#year").text(new Date().getFullYear());
    </script>
  </body>
</html>
